.about-us-page-container p{
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
}
.about-us-page-container h2{
    font-size: 18px;
    font-weight: 600;
}
.about-us-page-container .year{
    font-size: 11px;
    font-weight: 400;
}