.about-banner-section{
    background-color: transparent;
    background-image: url('./anshu-about-img.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center right;
    min-height: 750px;
    padding: 260px 0 150px 0px;
    margin-top: -100px;
}
.about-banner-section .name{
    letter-spacing: 0.9px !important;
}
@media screen and (max-width:576px) {
    .about-banner-section {
    background-color: transparent;
    background-image: url(./anshu-about-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 325px;
    padding: 260px 0 150px 0px;
    margin-top: -100px;
    text-align: center;
}
}