.about-us-page-container p{
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
}
.about-us-page-container h2{
    font-size: 18px;
    font-weight: 600;
}
.about-us-page-container .year{
    font-size: 11px;
    font-weight: 400;
}
@media screen and (min-width:991px) {
    .about-us-page-container > .container > .row{
            height: 100vh;
    }
    .nav{
        height: 100%;
    }
    .tab-content{
        height: 100%;
        overflow-y: scroll;
    }
}