*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' !important;
}
.home-navbar{
    z-index: 22;
}
.home-navbar .nav-link{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #000;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding:10px;
}
.banner-section{
   background: linear-gradient(#10002B, #2C1449);
    padding: 280px 0 150px 0px;
    margin-top: -150px;
}
.banner-section .content h4{
        font-size: 31px;
        line-height: 10px;
        letter-spacing: 17.71px;
        font-weight: 500;
        color: #fff;
}
.banner-section .content h1{
     color: #ffffff42;                  
  -webkit-text-stroke: 2px #fff;
  font-size: 161px;
    font-weight: 800;
  text-transform: uppercase;
}
.banner-section .content .content-box{
    padding: 50px 50px 60px 50px;
    background: linear-gradient(to right, #2C1449, #10002B);
    border-bottom-left-radius: 80px; 
    border-bottom-right-radius: 80px;
}
.banner-section .content .content-box p{
    font-size: 17px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 31px;
}
.banner-section .content .green-btn{
    background-color: #98FF3F;
    border: 1px solid #98FF3F;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 25px;
    line-height: 20px;
    width: 141px;
    height: 45px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.banner-section .content .transparent-btn{
    background-color: transparent;
    border: 1px solid #8F7FCF;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 25px;
    line-height: 20px;
    width: 146px;
    height: 45px;
    text-transform: uppercase;
    letter-spacing: 3px;
}


@media screen and (max-width:576px) {
    .home-navbar .navbar-toggler{
        background: white;
    width: 100%;
    }

    .banner-section .content .content-box p {
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 20px;
}
    .home-navbar .nav-item{
        padding: 6px 12px;
    border-bottom: 1px solid #dedede;
    }
    .home-navbar #navbarNav{
        margin-top: 5px;
    border-radius: 8px;
    }
    .banner-section .content h1{
        font-size: 65px;
        -webkit-text-stroke: 1px #fff;
        text-align: center;
        line-height: 70px;
    }
    .banner-section .content h4 {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 7px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    }
    .banner-section .content .content-box {
    padding: 35px 20px 35px 20px;
    background: linear-gradient(#10002B, #2C1449);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-radius: 20px;
    text-align: center;
    }
    .banner-section {
     background: linear-gradient(to right, #2C1449, #10002B);
    padding: 175px 0 25px 0px;
    margin-top: -150px;
    }
}
.projects{
    background-color: #F3F2F6;
}
.projects h3{
    font-size: 21px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.projects p{
    font-size: 17px;
    line-height: 31px;
    font-weight: 400;
    color: #000;
}
.projects .tile{
    background-color: #fff;
    border-radius: 9px;
    height: 220px;
}
.projects .tile .g-col{
    background-color: #98FF3F;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.projects .tile .t-col h6{
    color: #7B7B7B;
    font-size: 11px;
    font-weight: 400;
}
.projects .tile .t-col h5{
    font-size: 13px;
    letter-spacing: 2px;
}
.projects .tile p{
    font-size: 18px;
    font-weight: 600;
    color: #000;
    line-height: 29px;
    padding: 8px 160px 8px 30px;
}
.my-footer{
   background: linear-gradient(to right, #2C1449, #10002B);
    font-size: 14px;
    line-height: 29px;
    font-weight: 500;
    color: #fff;
}
@media screen and (max-width:991px) {
    .navbar-nav{
        width: 100% !important;
    }
}

